.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

#circle{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 200px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
}

body{
    background-color: #3b0e0e;
    color: white;
}

.buttons{
    display: flex;
    gap: 10px;

}

#up, #down{
    font-size: 20px;
    border-width: 2px;
    border-top: 2px solid #3b0e0e;
    border-bottom: 2px solid #3b0e0e;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: #3b0e0e;
    cursor: pointer;
}

.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);

  padding: 12px 20px;
  background-color: #acb9d5; /* dark slate */
  color: #1b1e20;

  font-size: 30px;
  font-weight: 500;
  border-radius: 8px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* show state */
.alert.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
