body{
    margin:0;
    font-family:sans-serif;
}

.nav-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border: solid;
}

.nav2{
    display:flex;
    gap:30px;
    background:#333;
    padding:12px 30px;
    height: 30px;
    width: 35%;
    border-radius:50px;   /* important */;
}

.nav3 a{
    background:#84b547;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
}